body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*body {
    overflow-x: hidden;
}*/


/*Navbar*/
.navbar {
    background-color: #c9ad7f;
    border-radius: 2px;
}

.navbar-toggler {
    border-radius: 20px;
}

/*Taustakuva*/
#bg-image {
    background-image: url("../images/helsinki.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: auto;
}


/*Etusivun pääsisältö*/
h1 {
    font-size: 12em;
    text-align: center;
    color: rgba(255, 255, 255, 0.705);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    padding-top: 80px;
    padding-bottom: 50px;
}

.text-content {
    padding: 30px 15px 30px 35px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    padding: 10px;
    background-color: #c9ad7fb6;
    max-width: 1000px;
}

.btn {
    width: 200px;
    height: 45px;
    background-color: #c9ad7f;
    border: 2px solid #ffff;
    margin: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #c9ad7fab;
    border: 2px solid #ffff;
}

/*Alatunniste*/
footer {
    background-color: #c9ad7fd2;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 60px;
    bottom: 0;
    width: 100%;
    padding: 3px;
}