body, html {
    height: 100%;
    margin: 0;
}

#bg-image {
    background-image: url("../images/helsinki.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50%;
}

/*body {
    background-image: url("../images/helsinki.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}*/

h1 {
    font-size: 12em;
    text-align: center;
    color: rgba(255, 255, 255, 0.705);
    /*#97743f9a*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Navbar*/
.navbar {
    background-color: #c9ad7f;
    border-radius: 2px;

}

.navbar-toggler {
    border-radius: 20px;
}

/*pääosa*/
.text-content {
    padding: 30px 15px 30px 35px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    padding-bottom: 100px;
}

article {
    padding: 10px;
    background-color: #c9ad7fb6;
    margin-top: 20px;
    border-radius: 3px;
    box-shadow: 6px 4px 22px -3px #a18b66b6;
}

a {
    text-decoration: none;
    color: #6b4c1a;
}

a:hover {
    color: #9c7536;
}

/*Accordion*/
.accordion-button {
    background-color: #c9ad7f;
    height: 70px;
    box-shadow: 6px 4px 22px -3px #a18b66b6;
}

#accordionExample {
    padding: 30px 35px 30px 15px;
    margin-top: 20px;
}

.accordion-button:not(.collapsed) {
    background-color: #decfac;
    color: black;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-item {
    border: none;
    background-color: rgb(255, 249, 241);
}

.accordion-item:nth-child(1), .accordion-item:nth-child(2) {
    border-bottom: 1px solid white;
}

footer {
    background-color: #c9ad7fd2;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 60px;
    bottom: 0;
    width: 100%;
    padding: 3px;
}